<html>
<head></head>
<body>
<form class="filter-form">
    {% for field in form %}
        <div class="filter-form__row">
            <label for="{{ field.name }}">{{ field.label }}</label>
            {{ field }}
        </div>
    {% endfor %}
    <input type="submit" class="filter-form__submit">
</form>
{% for item in object_list %}
{{ item }}
{% endfor %}
</body>
</html>
